* {
  margin: 0;
  padding: 0;

  font-family: "Open Sans","Helvetica Neue","Arial",sans-serif;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}


body {
    min-width: 980px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    background: #f5f4f1 url("img/mainbg.png");
    color: #494944;
}

a {
    text-decoration: none;
    color: #494944;
    padding: 4px 15px;
    margin: 3px 0;
    display: block;
}

a.active {
    background: #f8f8f5;
    border: 1px solid white;
    border-right: none;
    box-shadow: -1px 2px 6px -2px #ccc;
    color: #009adc !important;
    text-shadow: 1px 1px #fff;
}

a:link,
a:visited {
  color: #494944;
}

a:hover {
  color:  #009adc;
}


header {
  width: 100%;
  text-align: center;
}

.logo-image {
    height: 100px;
    margin-bottom: 20px;
}

#wrapper {
    width: 980px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 40px;

    background-color: #f8f8f5;
    border: 1px solid white;
    -webkit-box-shadow: 0px 0px 2px #a6a69a;
    box-shadow: 0px 0px 2px #a6a69a;
    border-radius: 2px;
}


#main {
    width: 750px;
    height: auto;
    display: table-cell;
    padding: 22px;
    vertical-align: top;
    border-left: 1px solid white;
}

#main h1 {
  color:  #009adc;
  text-shadow: 1px 1px #ffffff;
  font-size: 40px;
  font-weight: normal;

  line-height: 40px;

  letter-spacing: -1px;
}

#main h2 {
  font-size: 25px;
  color:  #009adc;
  margin-bottom: 25px;
  text-shadow: 1px 1px #ffffff;
}

#main p {
  margin: 20px 0;

  font-size: 15px;

  line-height: 20px;

  font-weight: lighter;

}

#main ul, #main ol {
  margin: 20px;
}

#main li {
    font-size: 16px;
    font-weight: lighter;
    line-height: 27px;
}

#main ul li {
  list-style-type: square;
}

#sidebar {
    width: 185px;
    height: 100%;
    display: table-cell;
    padding: 20px 0px 0 0;
    text-align: right;
    box-shadow: inset -3px 0px 10px -5px #ccc;
    background: -webkit-linear-gradient(left, #ffffff 0%,#f2f2ef 100%);
}

#sidebar h2 {
  text-transform: uppercase;

  font-size: 16px;

  color: #8a8a7c;

  letter-spacing: 1px;

  line-height: 20px;

  margin-right: 15px;
}

#sidebar ul {
  list-style-type: none;

  margin: 20px 0;
}

#sidebar li {
  font-size: 16px;
  font-weight: lighter;
  line-height: 27px;
}

table {
    width: 100%;
    margin: 15px 0;
    border-collapse: collapse;
}

table tr {
    border-bottom: 1px solid #dcdcdc;
}

table th {
    text-align: left;
    font-size: 13px;
    padding: 10px 0;
    padding-left: 3px;
    font-weight: 600;
    color: #494944;
}

table td {
    vertical-align: middle;
    padding: 10px 0px;
    padding-right: 10px;
    font-weight: lighter;
}


/* PYGMENTS */

pre {
    margin: 15px 0;
    background-color: #eee;
    border-radius: 3px;
    padding: 5px;

}

code {
  background-color: #D8D8D8;
  border-radius: 2px;
  padding: 5px;
  font-family: Inconsolata, Monaco, 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
  font-size: 12px;
}

pre code {
  background-color: transparent;
}
.p {font-weight: lighter;}
.hll { background-color: #f8f8f8; border: 1px solid #ccc; padding: 6px 10px; border-radius: 3px; }
.c { color: #999988; font-style: italic; }
.err { color: #009adc; font-weight: lighter; }
.k { font-weight: lighter; }
.o { font-weight: lighter; }
.cm { color: #999988; font-style: italic; }
.cp { color: #999999; font-weight: lighter; }
.c1 { color: #999988; font-style: italic; }
.cs { color: #999999; font-weight: lighter; font-style: italic; }
.gd { color: #000000; background-color: #ffdddd; }
.gd .x { color: #000000; background-color: #ffaaaa; }
.ge { font-style: italic; }
.gr { color: #aa0000; }
.gh { color: #999999; }
.gi { color: #000000; background-color: #ddffdd; }
.gi .x { color: #000000; background-color: #aaffaa; }
.go { color: #888888; }
.gp { color: #555555; }
.gs { font-weight: lighter; }
.gu { color: #800080; font-weight: lighter; }
.gt { color: #aa0000; }
.kc { color: #009adc; font-weight: lighter; }
.kd { font-weight: lighter; }
.kn { font-weight: lighter; }
.kp { font-weight: lighter; }
.kr { font-weight: lighter; }
.kt { color: #445588; font-weight: lighter; }
.m { color: #009999; }
.s { color: #dd1144; }
.n { color: #333333; }
.na { color: teal; }
.nb { color: #0086b3; }
.nc { color: #445588; font-weight: lighter; }
.no { color: teal; }
.ni { color: purple; }
.ne { color: #990000; font-weight: lighter; }
.nf { color: #990000; font-weight: lighter; }
.nn { color: #555555; }
.nt { color: navy; font-weight: lighter }
.nv { color: teal; }
.ow { font-weight: lighter; }
.w { color: #bbbbbb; }
.mf { color: #009999; }
.mh { color: #009999; }
.mi { color: #009adc; font-weight: lighter;  }
.mo { color: #009999; }
.sb { color: #dd1144; }
.sc { color: #dd1144; }
.sd { color: #dd1144; }
.s2 { color: #dd1144; font-weight: lighter}
.se { color: #dd1144; }
.sh { color: #dd1144; }
.si { color: #dd1144; }
.sx { color: #dd1144; }
.sr { color: #009926; }
.s1 { color: #dd1144; font-weight: lighter}
.ss { color: #990073; }
.bp { color: #999999; }
.vc { color: teal; }
.vg { color: teal; }
.vi { color: teal; }
.il { color: #009999; }
.gc { color: #999; background-color: #EAF2F5; }
